### IDE configuration directories ###

.idea/
.vscode/

### IDE configuration files ###

*.iml

### Maven ###

target/

### Gradle ###

build/
.gradle/

### Node.js ###

node_modules/
dist/

### TypeScript ###

*.tsbuildinfo